# Compilers and tools
/gcc-arm
/lm4tools
/gcc-arm-none-eabi-4_7-2013q3

# Build outputs
/bin

# LCD test build outputs
/lcd_test/bin

# Sublime text workspace
/launchpad.sublime-workspace

# Scons temporaries
/.sconsign.dblite
/lcd_test/.sconsign.dblite

# CTags
/.tags*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
