# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# The compiler and other tools
/gcc-arm*
/lm4tools

# The output directory
/bin

# CTags
.tags*

# Sublime
*.sublime-workspace

